@import "tailwindcss";

.input {
  @apply px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none;
}

.input-sm {
  @apply px-2 py-1 border border-gray-300 rounded;
}

.btn-primary {
  @apply px-4 py-2 text-white transition bg-blue-600 rounded-lg hover:bg-blue-700;
}

.btn-secondary {
  @apply px-3 py-1 transition bg-gray-200 rounded hover:bg-gray-300;
}

.table {
  @apply min-w-full overflow-hidden border rounded-lg;
}

.table thead {
  @apply bg-gray-200;
}

.table th {
  @apply px-4 py-2 text-left;
}

.table td {
  @apply px-4 py-2 border-t;
}


